[
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Parts

 {:db/id #db/id[:db.part/db]
  :db/ident :part/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The part name"
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Lots

 {:db/id #db/id[:db.part/db]
  :db/ident :lot/quantity
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The quantity of the part required from the store"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :lot/unit-price
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The price per unit"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :lot/part
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The lot's part"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :lot/store
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The lot's store"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Stores

 {:db/id #db/id[:db.part/db]
  :db/ident :store/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :store/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :store/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :store/rep
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :store/terms
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :store/shipping-policy
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :store/ship-cost
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Lists

 {:db/id #db/id[:db.part/db]
  :db/ident :list/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :list/part
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The list's parts"
  :db.install/_attribute :db.part/db}

 ]
